.header {
    margin: 0 auto;
    padding: 28px 0 38.25px;
    max-width: 320px;
    box-sizing: border-box;
}

@media screen and (min-width: 550px) {
    .header {
        max-width: 500px;
    }
}

@media screen and (min-width: 920px) {
    .header {
        padding: 45px 0 36.25px;
        max-width: 880px;
    }
}