.modal__close-button {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -53px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    border: none;
}
+