.modal__close-button {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -35px;
    right: 0px;
    width: 26px;
    height: 26px;
    border: none;
    background-color: transparent;
    background-image: url(../../../images/close-button.svg);
    background-position: center;
}

@media screen and (min-width: 550px) {
    .modal__close-button {
        width: 49px;
        height: 49px;
        right: -35px;
    }
}