.card {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 361px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
}