.modal__body {
    position: relative;
    width: 282px;
    padding: 20px;
    color: #1e1e1e;
    background-color: #fefefe;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .modal__body {
        min-width: 500px;
    }
}